body {
  /* background-color: #d2f2c2; */
  /* background: linear-gradient(to right, #485563, #29323c); */
  /* background: linear-gradient(to right, #fbd3e9, #bb377d); */
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
  margin: 0;
  user-select: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.loader {
  margin: 10% auto;
  display: block;
  width: 200px;
  /* height: ; */
  object-fit: contain;
  /* border: 5px solid gold; */
  border-radius: 50%;
  border-top: none;
  font-family: sans-serif;
  font-weight: 700;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100px;
  object-fit: contain;
  animation: loading 0.75s ease infinite;
  margin-bottom: 0.4rem;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
